/*    * {
		border: 1px solid black;
	}*/
    body {
        background:  #fbfbf8;
    }
    .header-fixed {
        position: fixed;
        height: 100px;
        width: 100%;
        margin: 0;
        z-index: 30;
        background-color: hsla(205, 31%, 95%, 1);
    }

    h1 {
        /*needs to be fixed*/
        font-size: 30px;
    }
    .row {
        margin: 200px auto;
    }

    .iframe-clickable {
        height: 85px;
    }

    .main-footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 60px;
        background-color: hsla(205, 31%, 95%, 1);
    }
    h5 {
        margin: 1.5em 0 0 0;
        text-align: center;
    }
/*    .myColomn-left {
        margin-left: 50px;
    }
    .myColomn-right {
        margin-right: 50px;
    }*/
/*    .col-sm-6 {
        max-width: 100%;
    }*/




