    * {
		
	}
    body {
        background:  #fbfbf8;
    }
    h1 {
        /*needs to be fixed*/
        font-size: 30px;
    }


    
/*   .box {
    	width: 200px;
    	height: 200px;
    	background:hsla(49, 31%, 91%, 1);
    }*/
