/*    * {
		
	}*/
    body {
        background:  #fbfbf8;
    }
    .header-fixed {
        position: fixed;
        height: 100px;
        width: 100%;
        margin: 0;
        z-index: 30;
        background:  #fbfbf8;
    }

    h1 {
        /*needs to be fixed*/
        font-size: 30px;
    }
    .row {
        margin: 200px auto;
    }


/*    .col-sm-6 {*/
   /* width: 95%;    */
    /*margin-left:  -20px;
    margin-right: -1px;*/
    /*padding: 15px;*/
   /* box-sizing: border-box;*/
    }

    
/*   .box {
    	width: 200px;
    	height: 200px;
    	background:hsla(49, 31%, 91%, 1);
    }*/
